<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
		"-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
		"http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<!-- 配置生成器 -->
<generatorConfiguration>

	<classPathEntry location="F:\Repository\caches\modules-2\files-2.1\mysql\mysql-connector-java\5.1.39\4617fe8dc8f1969ec450984b0b9203bc8b7c8ad5\mysql-connector-java-5.1.39.jar"/>

	<context id="context" targetRuntime="MyBatis3">

		<property name="javaFileEncoding" value="utf-8"/>

		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
			<property name="suppressDate" value="true"/>
		</commentGenerator>

		<!-- !!!! Database Configurations !!!! -->
		<jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/test_mybatis"
						userId="root" password="123456"/>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false"/>
		</javaTypeResolver>

		<!-- !!!! Model Configurations !!!! -->
		<javaModelGenerator targetPackage="kode.boot.testjar.domain" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
			<property name="enableSubPackages" value="false"/>
			<property name="trimStrings" value="true"/>
			<property name="rootClass" value="kode.boot.testjar.domain.BaseObject"/>
		</javaModelGenerator>

		<!-- !!!! Mapper XML Configurations !!!! -->
		<sqlMapGenerator targetPackage="mapper" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
			<property name="enableSubPackages" value="false"/>
		</sqlMapGenerator>

		<!-- !!!! Mapper Interface Configurations !!!! -->
		<javaClientGenerator targetPackage="kode.boot.testjar.mapper" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED" type="XMLMAPPER">
			<property name="enableSubPackages" value="false"/>
			<property name="rootInterface" value="kode.boot.testjar.mapper.BaseMapper"/>
		</javaClientGenerator>

		<!-- !!!! Table Configurations !!!! -->
		<table tableName="app_user" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
			<generatedKey column="id" sqlStatement="MySql" identity="true"/>
		</table>

		<table tableName="app_user_role" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
			<generatedKey column="id" sqlStatement="MySql" identity="true"/>
		</table>

		<table tableName="app_role" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
			<generatedKey column="id" sqlStatement="MySql" identity="true"/>
		</table>

		<table tableName="app_role_auth" enableCountByExample="false" enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false">
			<generatedKey column="id" sqlStatement="MySql" identity="true"/>
		</table>

	</context>
</generatorConfiguration>